<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.su.dao.mapper.common.SimpleSqlAutomationMapper">

	<select id="query" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		${value}
	</select>

	<insert id="insert" parameterType="java.util.LinkedHashMap">
    	${value}
 	</insert>

	<insert id="insertBackId" useGeneratedKeys="true" keyProperty="id"  keyColumn="id" parameterType="java.util.LinkedHashMap">
    	${value}
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		${halfSql}
		<foreach collection="list" item="item" separator=",">
			(${objectField})
		</foreach>
 	</insert>

	<update id="update" parameterType="java.util.LinkedHashMap">
		${value}
	</update>

	<delete id="delete" parameterType="java.util.LinkedHashMap">
		${value}
	</delete>
</mapper>