<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.su.dao.mapper.common.SqlCommonMapper">

	<select id="search" parameterType="String" resultType="java.util.LinkedHashMap">
		${sqlString}
	</select>

	<insert id="superCommonInsert" parameterType="java.util.LinkedHashMap">
    	${value}
 	</insert>

	<update id="superCommonUpdate" parameterType="java.util.LinkedHashMap">
		${value}
	</update>

	<insert id="insertTargetListBySql" parameterType="java.util.List">
		INSERT INTO ${tableName}
		(${insertFields})
		VALUES
		<foreach collection="dataList" item="item" separator=",">
			(${fieldValues})
		</foreach>
	</insert>
</mapper>